<html>
  <head>
    <title>Error!</title>
    <link rel="stylesheet" href="public/libs/bootstrap/dist/css/bootstrap.min.cs" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div>
<h3><%=message%></h3>
    </div>
  </body>
</html>
